{% extends 'base.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">Wprowadzono niepoprawne dane.</div>
    {% endfor %}
    <form>
        {{ form_start(registrationForm) }}
        <fieldset>
            <legend>Zarejestruj się</legend>
            <div class="form-group">
                {{ form_row(registrationForm.username, {
                    label: 'Nazwa użytkownika'
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Hasło'
                }) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Zaakceptuj regulamin'
                }) }}
            </div>
        </fieldset>
        <button type="submit" class="btn">Zarejestruj się</button>
        {{ form_end(registrationForm) }}
    </form>
{% endblock %}
