{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username, {
        label: 'Nazwa użytkownika'
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Hasło'
    }) }}
    {{ form_row(registrationForm.agreeTerms, {
        label: 'Zaakceptuj regulamin'
    }) }}

    <button type="submit" class="btn btn-primary">Zarejestruj</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
