{% extends 'base.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{flashError}}</div>
    {% endfor %}
    <form>
        {{ form_start(registrationForm) }}
        <fieldset>
            <legend>Zarejestruj się</legend>
            <label for="exampleInputEmail1">Nazwa Użytkownika</label>
            <div class="form-group">
                {{ form_row(registrationForm.username, {
                    label: ' '
                }) }}
            </div>
            <label for="exampleInputPassword1">Hasło</label>
            <div class="form-group">
                {{ form_row(registrationForm.plainPassword, {
                    label: ' '
                }) }}
            </div>
            <label for="exampleInputPassword1">Zaakceptuj Regulamin</label>
            <div class="form-group">
                {{ form_row(registrationForm.agreeTerms, {
                    label: ' '
                }) }}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Zarejestruj się</button>
        {{ form_end(registrationForm) }}
    </form>
{% endblock %}
